#cart h2 {
    margin-top: 200px;
}

#cart-grid {
    display: grid;
    width: 45vw;
    margin: auto;
    padding: 30px;
    overflow: auto;
    gap: 40px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cart-div {
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

#cart-grid img {
    display: block;
    width: 40%;
    margin: 10px auto;
}

#cart-grid h4 {
    margin: 10px 10px 5px;
}